.chatPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.wrapper {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: center;

  .chat {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.5rem;
    line-height: 1.5;

    .message {
      overflow-y: auto;
      overflow-wrap: break-word;
      padding: 0.8rem;

      p,
      li {
        margin: 1rem 2rem;
      }

      margin-bottom: 0.5rem;

      &.user {
        &.image {
          display: block;
          width: 100%;
          max-width: 300px;
          max-height: 200px;
        }

        p,
        li {
          margin: 0;
        }

        background-color: #313244;
        border-radius: 1rem;
        max-width: 80%;
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    justify-content: flex-start;

    .chat {
      width: 100%;
      font-size: 0.8rem;
      padding: 0.2rem;
    }
  }

  p,
  li {
    margin: 0;
  }

  .image {
    padding: 0;
    margin: 0;
    display: block;
    width: 50%;
    max-width: 300px;
    max-height: 200px;
  }

  .message .user {
    min-width: 95%;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
  }
}
